<section id="main" class="seccion clearfix">
    <div class="faraday-header-border-fix"></div>
    <div class="right-main">
        <div ng-controller="headerCtrl" ng-include="'scripts/commons/partials/header.html'"></div>
        <div id="reports-main" class="fila clearfix">
            <div class="centrado">
            <img src="images/faraday-iso.svg" class="faraday-iso" />
            <div class="home-list">
              <h1>Forbidden</h1>
            </div>
          </div>
        </div>
    </div><!-- #reports-main --></div><!-- .right-main -->
</section><!-- #main -->
