.git
.gitlab
.github
.venv
__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build
.tox
.pytest_cache
tests
doc
scripts
pynixify
CHANGELOG
*.md
.idea
.vscode
.pre-commit-config.yaml
.gitlab-ci.yml
node_modules
