*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
pushReports.py
*.swp

# Tests nodejs
node_modules

# Couch
.couchadmin

# Ignore faraday server pid
server/.faraday-server.pid

#Ignore images executive report
reports/executive/images/ease-of-resolution-piechart.png
reports/executive/images/impact-piechart.png
reports/executive/images/vulns-piechart.png

#Ignore visual studio code configs
typings/
jsconfig.json
.vscode/

# PyCharm project files
.idea

# vFeed DB
data/vfeed.db

# Images based on DB Schema
entity_dbschema.png
uml_schema.png
