couchdbkit>=0.6.5
restkit>=4.2.2
requests>=2.10.0
flask>=0.10.1
tqdm==4.15.0
twisted>=16.1.1
sqlalchemy>=1.0.12
pyopenssl>=16.0.0
service_identity>=16.0.0
pyasn1-modules
Flask-Security==3.0.0
bcrypt
Flask-SQLAlchemy==2.2
Flask-Script==2.0.5
flask-classful
marshmallow
webargs
