bcrypt
couchdbkit>=0.6.5
Flask-SQLAlchemy==2.3.1
Flask-Script==2.0.5
flask-classful==0.14
Flask-Security==3.0.0
flask>=0.10.1
marshmallow
pyasn1-modules
pyopenssl>=16.0.0
python-slugify==1.2.4
requests>=2.10.0
restkit>=4.2.2
service_identity>=16.0.0
sqlalchemy>=1.0.12
tqdm==4.15.0
twisted>=16.1.1
webargs
marshmallow-sqlalchemy
filteralchemy
filedepot==0.5.0
