alembic>=0.9.9
apispec>=6.3.0
apispec-webframeworks<=0.5.2
autobahn>=22.7.1
bcrypt>=3.1.4,<5.0.0
bidict==0.22.0
bleach>=4.1.0,<5.0.0
cbor2>=5.9.0
celery==5.4.0
click>=8.0.1
colorama>=0.3.9
croniter>=0.3.30
cryptography>=42.0.0
cvss>=3.1
deprecation>=1.0.1
distro>=1.4.0
elasticsearch>=7.16.3,<8
email-validator>=2.3.0
faraday-agent-parameters-types>=1.9.1
faraday-plugins>=1.27.0,<2.0.0
filedepot>=0.5.0,<0.11.0
filetype>=1.0.5
filteralchemy-fork>=0.1.0
flask==2.2.5
flask-celery-helper>=1.1.0
flask-classful>=0.16.0
flask-kvsession-fork>=0.6.4
flask-limiter>=2.6.0,<3.0.0
flask-login>=0.6.0,<0.7.0
flask-mail>=0.10.0
flask-security-too>=4.0.0,<5.0.0
flask-socketio>=5.0.1
flask-sqlalchemy>=2.3.1,<=2.5.1
flask-wtf>=0.15.1,<=1.0.1
gevent>=23.9.0
gevent-websocket>=0.10.1
jinja2>=2.9.6
kombu==5.4.2
lxml>=6.1.0
mako>=1.3.11
marshmallow>=3.19.0,<4.0.0
marshmallow-sqlalchemy>=0.26.1,<0.28.1
matplotlib>=3.1.1
networkx>=3.4.2
nplusone>=0.8.1
pgcli<=4.3.0
pillow>=12.1.1
psycogreen>=1.0.2
psycopg2>=2.9.0
pyasn1>=0.6.3
pygments>=2.20.0
pyjwt>=2.12.0
pylibmagic>=0.5.0; sys_platform == 'darwin'
pyopenssl>=26.0.0
pyotp>=2.6.0
python-dateutil>=2.6.0
python-magic>=0.4.27; sys_platform != 'darwin'
pyyaml>=6.0.3
redis>=4.3.4
requests>=2.33.0
service-identity>=17.0.0
setuptools>=61,<81
sh>=2.2.2
simplekv>=0.13.0
sqlalchemy>=1.2.0,<1.4.0
syslog-rfc5424-formatter>=1.1.1
tqdm>=4.15.0
ujson>=5.12.0
validators>=0.20.0
webargs>=8.0.0
werkzeug==2.3.8
wtforms>=2.1
