Source: faraday
Section: python
Priority: optional
Maintainer: Sophie Brun <sophie@freexian.com>
Build-Depends: debhelper (>= 9), dh-python, python, dh-systemd
Standards-Version: 3.9.8
Homepage: http://faradaysec.com
Vcs-Git: git://git.kali.org/packages/python-faraday.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/python-faraday.git;a=summary

Package: faraday
Architecture: all
Depends: ${python:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
 faraday-server (= ${binary:Version}),
 faraday-client (= ${binary:Version})
Description: Collaborative Penetration Test IDE
 Faraday introduces a new concept (IPE) Integrated Penetration-Test Environment
 a multiuser Penetration test IDE. Designed for distribution, indexation and
 analysis of the generated data during the process of a security audit.
 .
 This is a metapackage which will install the Faraday client and server.

Package: faraday-server
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
 ipython,
 python-couchdbkit,
 python-mockito,
 python-whoosh,
 python-argparse,
 python-ipy,
 python-restkit,
 python-requests (>= 2.7.0),
 python-tornado,
 python-flask (>= 0.10.1),
 python-colorama,
 python-psycopg2,
 python-sip,
 zsh,
 python-twisted,
 python-sqlalchemy,
 python-openssl,
 couchdb (>=1.6.0) |  couchdb (>=1.4.0),
 python-pip
Description: Collaborative Penetration Test IDE
 Faraday introduces a new concept (IPE) Integrated Penetration-Test Environment
 a multiuser Penetration test IDE. Designed for distribution, indexation and
 analysis of the generated data during the process of a security audit.
 .
 This package includes the Faraday server.

Package: faraday-client
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
 ipython,
 python-couchdbkit,
 python-mockito,
 python-whoosh,
 python-argparse,
 python-ipy,
 python-restkit,
 python-requests (>= 2.7.0),
 python-tornado,
 python-flask (>= 0.10.1),
 python-colorama,
 python-psycopg2,
 python-sip,
 zsh,
 python-twisted,
 python-sqlalchemy,
 python-openssl,
 curl,
 gir1.2-gtk-3.0,
 gir1.2-vte-2.90 | gir1.2-vte-2.91,
 python-gobject,
 zsh,
 python-pip
Description: Collaborative Penetration Test IDE
 Faraday introduces a new concept (IPE) Integrated Penetration-Test Environment
 a multiuser Penetration test IDE. Designed for distribution, indexation and
 analysis of the generated data during the process of a security audit.
 .
  This package includes the Faraday client.
