[Unit]
Description=Faraday Server
Requires=couchdb.service
After=couchdb.service

[Service]
Type=simple
ExecStart=/opt/faraday/server/faraday-server.py --nodeps

[Install]
WantedBy=multi-user.target
