<section id="main" class="seccion">
    <div class="faraday-header-border-fix">
        <div ng-controller="headerCtrl" ng-include="'scripts/commons/partials/header.html'"></div>
        <div id="reports-main" class="fila clearfix">
            <div class="centrado">
                <img src="images/logo-faraday.svg" class="faraday-iso"/>
                <div class="home-list">
                    <h1>Forbidden</h1>
                </div>
            </div>
            <div class="forbidden-error">
                <h3>You don't have the permissions or It is either read-protected (readonly workspace)</h3>
            </div>
        </div>
    </div><!-- #reports-main --></div><!-- .right-main -->
</section><!-- #main -->
