#login-main {
  background-image: url(images/fondo_faraday.svg) !important;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#login-container {
  width: 410px;
  margin-top: 160px;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1em black;
}

#form-signin {
  padding: 60px 36px 40px 36px;
  height: 378px;
}

#form-signin > h3 {
  font-weight: 600;
  font-size: 21px;
}

.height-39px {
  height: 39px;
}

.border-red {
  border-top-color: #00a8e1;
}

.border-strong {
  border-top-style: solid;
  border-top-width: 5px;
}

.mt-sm {
  margin-top: 10px;
}

.margin-top-18px {
  margin-top: 18px;
}

.margin-top-22px {
  margin-top: 22px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-top-37px {
  margin-top: 37px;
}

.margin-top-65px {
  margin-top: 65px;
}

.clear-margin {
  margin: 0px;
}

.clear-margin-bottom {
  margin-bottom: 0px;
}

.btn-frd {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  color: #FFF;
}

.btn-frd.disabled, .btn-frd[disabled], fieldset[disabled] .btn-frd {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-xl {
  height: 54px;
}

.bg-blue {
  background-color: #2c8dee;
}

.fg-blue {
  color: #2c8dee
}

.fg-white {
    color: white
  }

.fg-red {
  color: #00a8e1;
}

.font-bold {
  font-weight: bold;
}

.font-xs {
  font-size: 11px;
}

.frd-icon {
  background-repeat: no-repeat;
}

.frd-icon-lock {
  background-image: url("images/icon-login-password-lock.svg");
  width: 20px;
  height: 20px;
}

#form-signin .placeholder .frd-icon-lock {
  position: relative;
  bottom: 5px;
}

#footer-login {
  position: fixed;
  bottom: 0px;
  right: 15px;
}

.justify-flex-start {
    justify-content: flex-start !important;
}

.max-sized-table {
  max-width: 1200px;
}

.loading-spinner {
  position: absolute;
  top: 180px;
  left: 50%;
  z-index: 1000;
  font-size: 30px;
}

.no-info-overlay {
  background-color: #EEE;
  width: 100%;
  height: 38px;
  position: relative;
  z-index: 999;
  text-align: center;
}

.no-info-text {
  margin-top: 8px;
  font-size: 11px;
  padding-top: 10px;
}

.height-auto {
  height: auto !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.file-name {
  display: inline-block;
  font-size: smaller;
  padding-left: 10px;
}

.remove-uploaded-file{
    margin-left: 10px;
    cursor: pointer;
    width: 10px;
    height: auto;
    border-radius: 50%;
    padding: 2px 6px;
}

.remove-uploaded-file:hover{
    background-color: #ddd;
}

.file-container {
  overflow: hidden;
  position: relative;
}

.file-container button {
  border-radius: 0px;
}

.no-border-radius {
  border-radius: 0px;
}

.file-container [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  top: -6px;
  width: 105px;
  height: 34px;
}

.file-selected {
  z-index: -999;
}
.jumbotron {
  background-color: #f4f3f4;
}

.btn {
  border-radius: 0px;
}

.feed-icon{
  width: 18px;
  padding-bottom: 5px;
  margin-right: 3px;
}


.little-gray{
  color: #a2a1a1;
}

.hide-border-top{
  border-top: none!important;
}

.margin-right-15px{
  margin-right: 15px;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #67aef9;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #67aef9;
    font-weight: bold;
}

.nav-tabs > li > a {
    color: #8c9799;
}

.nav > li:not(.active) > a:hover {
    background-color: #fff !important;
    border-color: #fff #fff #ddd !important;
}

.edit-vulns-dropdowns {
    margin-bottom: 15px;
}

.primary-btn {
    width: calc(100% - 29px);
}

.secondary-btn {
    left: -5px;
    position: relative;
}

.btn-change-property {
    border: none;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.data-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #5e6667;
}

.modal-data-name {
    margin: 25px 0;
}

.tab-pane-header {
    color: #5e6667;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.tab-pane-container {
    width: 100%;
    overflow-y: auto;
    max-height: calc(100% - 175px);
    height: 100%;
}

.btn-primary-white {
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    color: #5e6667;
    text-transform: capitalize;
    font-weight: normal;
}

.btn-secondary-white{
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    color: #5e6667;
}

.edit-name-icon {
    color: #999;
    cursor: pointer;
    margin-left: 10px;
}

/*.modal-data-name:hover .edit-name-icon {*/
    /*display: inline-flex;*/
/*}*/

#inp-edit-name{
    font-weight: bold;
    color: #5e6667;
}

.fields-of-vulnWeb {
    position: relative;
    top: 22px;
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #008000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
    top: 6px;
    left: 6px;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.customs-radio-inline{
    display: inline-flex;
}



/* The container */
.chbox-container {
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: -5px;
}

/* Hide the browser's default checkbox */
.chbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* On mouse-over, add a grey background color */
.chbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chbox-container input:checked ~ .checkmark {
    background-color: #488be6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chbox-container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chbox-container .checkmark{
    top: 0;
}

.custom-divider {
    border-top: 1px solid #ddd;
    margin: 10px 0 15px 0;
}

li.nav-item.has-error:not(.active) {
    border-bottom: 1px dashed #a94442;
}

li.nav-item.has-error:not(.active) a {
    color: #a94442;
}

.nav-item{
    margin-right: 40px;
}

.active-toggle{
  width: 3%;
  text-align: center!important;
}

.active-toggle-container{
  cursor: pointer;
}

.forbidden-error {
    text-align: center;
    overflow-wrap: break-word;
    position: relative;
    top: 220px;
    color: #aeaeb1;
}
.active-toggle{
  width: 3%;
  text-align: center!important;
}

.active-toggle-container{
  cursor: pointer;
}

.forbidden-error {
    text-align: center;
    overflow-wrap: break-word;
    position: relative;
    top: 220px;
    color: #aeaeb1;
}

.last-item-field {
    margin-bottom: 25px;
}


/* ANGULAR SIMPLE PAGINATION */

.simple-pagination p {
  display: inline-block;
  line-height: 24px;
  margin: 0 10px 0 0;
}

.simple-pagination__button {
  background: #fff;
  border: none;
  padding: 0px 6px;
}

button[disabled], html input[disabled] {
    cursor: default!important;
    color: #ddd;
}

.simple-pagination__page-limit__option:after {
  content: ' | ';
}

.simple-pagination__page-limit .active {
  font-weight: bold;
}

.simple-pagination {
    text-align: center;
    margin-bottom: 15px;
}

.toogle-img-container {
    width: 46px;
}

.settings {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 16px;
    min-height: 756px;
}

.setting-header {
    background-color: #e7e6e7;
    padding: 1px 24px 12px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.setting-body {
    height: 100%;
}

.setting-sidebar {
    min-height: 678px;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #ddd;
}

.setting-sidebar ul {
    margin-top: 24px;
}

.setting-sidebar li {
    width: 100%;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}

.setting-sidebar li.active {
    border-left: 5px solid #00a8e1;
    padding-left: 19px;
    color: #00a8e1;
}

.setting-sidebar li:hover{
    border-left: 5px solid #888;
    padding-left: 19px;
    color: #444;
    background-color: #eee;
}

.cf-container {
    padding: 32px;
    height: 600px;
    overflow-y: auto;
}

.cf-item {
    padding: 16px 0px!important;
    border-top: 1px solid #ddd;
}

.cf-type {
    border: 1px solid #ddd;
    max-width: 80px;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
}

.type-int{
    border: 1px solid #932ebe;
    background-color: #932ebe;
}

.type-str{
    border: 1px solid #2e97bd;
    background-color: #2e97bd;
}

.type-list{
    border: 1px solid #a1ce31;
    background-color: #a1ce31;
}

.type-choice{
    border: 1px solid #be2743;
    background-color: #be2743;
}

h3.cf-display-name {
    margin-top: 0;
}

.cf-detail {
    border-left: 1px solid #ddd;
    height: 600px;
    padding: 8px 24px;
}

.cf-actions {
    color: #aaa;
    text-align: center;
    padding-top: 32px;
}

.btn-cf-choice {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}


span.cf-icon-action {
    font-size: 10px;
    cursor: pointer;
}

span.cf-icon-action:hover {
    color: #777;
}

.btn-tools {
    margin-top: 45px;
    float: right;
}


/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.dndDraggingSource {
    display: none;
}


/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 120px;
    border:2px dashed #aaa;
}

div[dnd-list] > div{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.header-btns {
    width: 100%;
    padding: 20px 8px;
}

.right-main{
    overflow-x: hidden;
}

#slide {
    transition: 0.5s;
    position: absolute;
    right: -33.3%;
}

.show-slide{
    transition: 0.5s!important;
    width: 33.3%!important;
    right: 0!important;
}

#main-panel{
    width: 100%;
    transition: 0.5s;
}

.slice-main-panel{
    transition: 0.5s;
    width: 66.6%!important;
}

.right-main{
    overflow-x: hidden;
}

.left-main{
  overflow-x: hidden;
}

#vuln-preview {
    position: fixed;
    z-index: 100000;
    top: 139px;
    height: calc(100% - 139px);
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-top: solid 4px #e5e5e5;
    width: 0;
    transition: 0.5s;
    right: -75%;
    padding: 16px;
}

#vuln-preview.show-preview{
    transition: width 0.3s!important;
    width: 70%!important;
    right: 0!important;
}

.faraday-page-header{
    width: 100%;
}

.faraday-page-header.show-preview{
    transition: width 0.3s!important;
    width: 74.5%!important;
}

#btn_bar.show-preview{
    transition: width 0.3s!important;
    width: 73.2%!important;
}

.preview-header {
    width: 100%;
    padding: 5px 10px 20px;
}

.preview-section {
    border-top: 1px solid #ddd;
    padding: 24px 0;
    margin-bottom: 22px;
}

.preview-section .form-group{
    margin-bottom: 0;
}

.preview-icon {
    color: #aaa;
    cursor: pointer;
    text-align: center;
    padding: 6px 8px;
    font-size: 0.8em;
}

.preview-icon:hover {
    background-color: #ddd;
    color: #777;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 0px #aaa;
}

.preview-tag {
    background-color: #ddd;
    padding: 2px 8px;
    border-radius: 3px;
    font-weight: bold;
    color: #555;
    box-shadow: 2px 2px 2px 0 #aaa;
    margin-right: 10px;
}

.preview-section.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.preview-section .tab-pane-header {
    font-size: 1.1em;
    overflow-wrap: break-word;
}

.prev-apply-template.active{
    /*transition: 0.1s;*/
    width: 75%!important;
}

.prev-apply-template {
    padding-right: 0;
}

.pretty-text.tab-pane-header {
    font-size: 1.01em;
    /* font-weight: normal; */
    color: #aaa;
}

.text-code {
    background-color: #f9f9f9;
    padding: 15px 10px;
    font-weight: normal;
    color: #777!important;
    min-height: 150px;
    overflow-wrap: break-word;
}

.show-scroll {
    height: 230px;
    overflow-y: auto;
}

.show-scroll input {
    color: #444!important;
}

.margin-bottom-24{
    margin-bottom: 24px;
}

.input-evidence {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    opacity: 0;
    cursor: pointer;
}

.upload-options button {
    margin-bottom: 5px;
}

#attachment-img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul#nav-tabs-container {
    margin-left: 50px;
}

.padding-left-0{
    padding-left: 0;
}

.margin-left-0{
    margin-left: 0;
}

.desc-container {
    height: 65%;
    overflow-y: auto;
}

.height-100{
    height: 100%;
}

.line-breaks{
    white-space: pre-wrap;
    line-height: 1.5;
    overflow-wrap: break-word;
}

.custom-panel-heading{
    padding: 15px!important;
    text-transform: uppercase;
}

.custom-panel-body{
    background-color: #f4f3f4;
}

.agent-token-container {
    font-size: 1.5em;
    padding: 12px;
}

.agent-token-container strong {
    font-size: 16px;
    margin-right: 0.5em;
}

#agent-table td {
    text-align: left!important;
}

.tag-blue {
    background-color: #2e97bd;
    color: white;
    text-transform: uppercase;
}

.tag-green {
    background-color: #a1ce31;
    color: white;
    text-transform: uppercase;
}

.tag-yellow {
    background-color: #dfbf35;
    color: white;
    text-transform: uppercase;
}

.tag-red {
    background-color: #df3936;
    color: white;
    text-transform: uppercase;
}

.tag-gray {
    background-color: #999999;
    color: white;
    text-transform: uppercase;
}

#agent-table .preview-tag {
    box-shadow: none;
    font-size: 0.8em;
}

#btn_clear_search {
    position: absolute;
    height: 30px;
    border-radius: 2px;
    right: 15px;
    padding-top: 3px;
}

.panel-default .workspace-selector-wrapper {
    padding: 0;
}

.workspace-selector-wrapper.inside-admin:hover {
     background-color: transparent;
}

.switcher-wrapper.inside-admin:hover {
    background-color: #ebebeb;
}

.workflow-workspace-switcher {
    display: table !important;
    margin: auto;
}

.workflow-workspace-switcher .title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.remember-me span{
    display: inline-block !important;
    width: fit-content;
    margin-left: 20px;
}

.remember-me input{
    display: inline-block;
    width: fit-content;
    width: -moz-max-content;
    margin-top: 0;
    top: -2.5px;
    left: 0;
}

.no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
