<div class="modal-header">
    <h4 class="modal-title"><img src="images/faraday-iso.svg" height="30"
                                 style="display: inline; padding: 5px; vertical-align:middle;"> Extras</h4>
</div>
<div class="modal-body">
    <h4>Want to level up your Faraday usage? You can download any of the following enhancers to connect with your
        instance:</h4>
    <br/>

    Faraday CLI
    <br/>
    Link: <a
        href="https://github.com/infobyte/faraday-cli" target="_blank">https://github.com/infobyte/faraday-cli</a>
    <br/>
    Use Faraday directly from your favorite terminal. This is a common replacement for our GTK Client.

    <br/><br/>

    Agent Dispatcher
    <br/>
    Link: <a href="https://github.com/infobyte/faraday_agent_dispatcher" target="_blank">https://github.com/infobyte/faraday_agent_dispatcher</a>
    <br/>
    Integrate Faraday with your scanning tools and automate all your scans. Our Dispatcher allows you to create custom
    integrations for your instance.

    <br/><br/>

    Faraday Client
    <br/>
    DEB Link: <a href="https://storage.googleapis.com/faraday-community/faraday-client_amd64.deb" target="_blank">https://storage.googleapis.com/faraday-community/faraday-client_amd64.deb</a>
    <br/>
    RPM Link: <a href="https://storage.googleapis.com/faraday-community/faraday-client_amd64.rpm" target="_blank">https://storage.googleapis.com/faraday-community/faraday-client_amd64.rpm</a>
    <br/>
    Run commands directly from our GTK Client and get all results imported automatically into your instance.

    <br/><br/>

    Methodology Templates
    <br/>
    Link: <a href="https://github.com/infobyte/faraday_templates/tree/master/methodologies" target="_blank">https://github.com/infobyte/faraday_templates/tree/master/methodologies</a>
    <br/>
    Common security methodologies ready to be used within your Faraday projects.

    <br/><br/>

    Vulnerability KB Templates (CWE)
    <br/>
    Link: <a href="https://github.com/infobyte/faraday_templates/tree/master/vulnerability_templates" target="_blank">https://github.com/infobyte/faraday_templates/tree/master/vulnerability_templates</a>
    <br/>
    Populate your Faraday KB with default CWE information.

    <br/><br/>

    Burp Extender
    <br/>
    Link: <a href="https://portswigger.net/bappstore/82f3cbaea46c4f158fd85bbccc90c31c" target="_blank">https://portswigger.net/bappstore/82f3cbaea46c4f158fd85bbccc90c31c</a>
    <br/>
    Send findings directly from Burp into your Faraday instance. Automatically populate your project or choose exactly what you want to share.

    <br/><br/>
</div>
